<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64078725454-2ngkfh81eg10bn5cpflttg33ul7q4vso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64078725454-2ngkfh81eg10bn5cpflttg33ul7q4vso</string>
	<key>API_KEY</key>
	<string>AIzaSyB5RMlLU9K5B5PALR2TDWTYBUQJ7iNBy5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>64078725454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Maha.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-51fa0</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-51fa0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64078725454:ios:948cf98333f489294a9e1f</string>
</dict>
</plist>